.Neo.NavigationBar {
    border-bottom: 2px solid var(--Cbrand);
    min-height: 48px
}

.Neo.NavigationBar.--transparent {
    border-bottom-color: transparent;
}

.Neo.NavigationBar>.kLogo {
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
    padding: 0 8px;
    background: var(--Cbrand);
    height: 48px
}

.Neo.NavigationBar.--transparent > .kLogo {
    background: transparent;
    color: var(--fColor);
}

.Neo.NavigationBar>.kCon {
    width: fit-content;
    overflow: hidden;
    transition: height .2s ease-in-out;
    margin-left: auto;
}

.Neo.NavigationBar>.kCon>a {
    padding: 12px 8px;
    color: var(--Cdisplay);
    height: 48px;
    box-sizing: border-box;
    display: inline-block;
}

.Neo.NavigationBar>.toggle {
    padding: 0px;
    height: 48px;
    width: 48px;
    margin-left: auto;
    display: none;
    border: none;
    color: var(--Cdisplay);
}

.Neo.NavigationBar.short>.toggle {
    display: block;
}

.Neo.NavigationBar.enough>.toggle {
    display: none
}

.Neo.NavigationBar.short>.kCon {
    margin-left: 0;
    height: var(--expanded-height);
    display: block;
}

.Neo.NavigationBar.enough>.kCon {
    margin-left: auto;
    height: 48px
}

.Neo.NavigationBar.collapsed>.kCon {
    height: 0
}

.Neo.NavigationBar.short>.kCon>a {
    display: block
}