@keyframes navigationbar-fin {
from {
    opacity: 0;
    top: -200px;
}
to {
    opacity: 1;
    top: 0px;
}
}

.Neo.NavigationBar {
padding-left: 1rem;
padding-right: 1rem;
--Height: 4.5rem;
color-scheme: light dark;
min-height: var(--Height);
position: sticky;
top: 0px;
background-color: var(--Ccard-bg);
backdrop-filter: blur(10px);
transition-property: width, height, top, color, background-color;
transition-duration: .15s;
transition-timing-function: cubic-bezier(.4, 0, .2, 1);
border-radius: 0 0 1rem 1rem;
box-sizing: border-box;
z-index: 1100;
width: var(--Wpage-width);
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
}

.Neo.NavigationBar.anim {
animation-name: navigationbar-fin;
animation-duration: .25s;
}

body.focus .Neo.NavigationBar {
top: calc(-.5rem - var(--Height));
}

.Neo.NavigationBar>.kLogo {
width: fit-content;
display: flex;
align-items: center;
padding: 0 1rem;
font-weight: 700;
color: var(--Cbrand);
position: relative;
height: 2.75rem;
}

.Neo.NavigationBar>.kLogo::before {
content: '';
position: absolute;
left: 0;
width: 100%;
height: 100%;
display: block;
background-color: var(--Cbtn-plain-bg-hover);
transform: scale(0);
opacity: 0;
transition: transform .25s ease-in-out, opacity .25s ease-in-out;
z-index: -1;
border-radius: .5rem;
}

.Neo.NavigationBar>.kLogo:hover::before{
transform: scale(1);
opacity: 1;
}

.Neo.NavigationBar>.kLogo>.home-icon{
font-size: 1.75rem;
margin-right: .5rem;
}

.Neo.NavigationBar>.kCon {
width: fit-content;
overflow: hidden;
transition: height .2s ease-in-out;
display: flex;
align-items: center;
height: var(--Height);
}

.Neo.NavigationBar>.kCon>a {
padding: 12px 8px;
color: var(--Cdisplay);
box-sizing: border-box;
align-items: center;
position: relative;
}

.Neo.NavigationBar>.kCon>a::after {
content: '';
position: absolute;
bottom: 5px;
top: calc(100% - 6px);
left: 50%;
right: 50%;
/* background: var(--Cdisplay); */
background: light-dark(#000, #fff);
transition: left .25s ease-in-out, right .25s ease-in-out;
}

.Neo.NavigationBar>.kCon>a:hover::after {
left: 6px;
right: 6px;
}

.Neo.NavigationBar>.toggle {
padding: 0px;
height: var(--Height);
width: var(--Height);
margin-left: auto;
display: none;
border: none;
color: var(--Cdisplay);
}

@media(max-width: 768px){
.Neo.NavigationBar>.toggle {
display: flex;
align-items: center;
justify-content: center;
}

.Neo.NavigationBar>.kCon {
background: var(--Cbg);
padding: .5rem;
margin-left: 0;
height: 0;
right: 1rem;
top: calc(var(--Height) + 1rem);
display: block;
position: absolute;
transition-property: height, border-radius, opacity;
transition-duration: .25s;
transition-timing-function: ease-in-out;
border-radius: 1rem;
opacity: 0;
}

.Neo.NavigationBar>.kCon>a {
display: block;
height: 48px;
text-align: center;
}

.Neo.NavigationBar>.kLogo {
position: absolute;
height: 100%;
}

.Neo.NavigationBar>.kLogo::before {
height: calc(100% - 1.5rem);
top: .75rem;
left: 0;
}

.Neo.NavigationBar.collapsed:not(.float)>.kCon {
height: var(--expanded-height);
opacity: 1;
}
.being-replaced .Neo.NavigationBar>.kCon {
height: 0;
opacity: 0;
}
}