@keyframes navigationbar-fin {
    from {
        opacity: 0;
        top: -200px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

.Neo.NavigationBar {
    padding-left: 1rem;
    padding-right: 1rem;
    --Height: 4.5rem;
    color-scheme: light dark;
    min-height: var(--Height);
    position: sticky;
    top: 0px;
    background-color: var(--Ccard-bg);
    backdrop-filter: blur(10px);
    transition-property: height, top, color, background-color;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    border-radius: 0 0 1rem 1rem;
    box-sizing: border-box;
    z-index: 1100;
}

.Neo.NavigationBar.anim {
    animation-name: navigationbar-fin;
    animation-duration: .25s;
}

.Neo.NavigationBar.enough {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: calc(100% - 2rem);
}

.Neo.NavigationBar.float {
    top: calc(0rem - var(--Height));
}

.Neo.NavigationBar>.kLogo {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 0 8px;
    font-weight: 900;
    color: var(--Cbrand);
}

.Neo.NavigationBar.--transparent>.kLogo {
    background: transparent;
    color: var(--Cbrand);
}

.Neo.NavigationBar>.kCon {
    width: fit-content;
    overflow: hidden;
    transition: height .2s ease-in-out;
    display: flex;
    align-items: center;
}

.Neo.NavigationBar>.kCon>a {
    padding: 12px 8px;
    color: var(--Cdisplay);
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

.Neo.NavigationBar>.kCon>a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    top: calc(100% - 6px);
    left: 50%;
    right: 50%;
    /* background: var(--Cdisplay); */
    background: light-dark(#000, #fff);
    transition: left .25s ease-in-out, right .25s ease-in-out;
}

.Neo.NavigationBar>.kCon>a:hover::after {
    left: 6px;
    right: 6px;
}

.Neo.NavigationBar>.toggle {
    padding: 0px;
    height: var(--Height);
    width: var(--Height);
    margin-left: auto;
    display: none;
    border: none;
    color: var(--Cdisplay);
}

.Neo.NavigationBar.short>.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Neo.NavigationBar.enough>.toggle {
    display: none
}

.Neo.NavigationBar.short>.kCon {
    margin-left: 0;
    height: var(--expanded-height);
    display: block;
}

.Neo.NavigationBar.enough>.kCon {
    height: var(--Height);
}

.Neo.NavigationBar.collapsed>.kCon {
    height: 0
}

.Neo.NavigationBar.short>.kCon>a {
    display: block;
    height: 48px;
    text-align: center;
}

.Neo.NavigationBar.short>.kLogo {
    position: absolute;
    height: var(--Height);
}