ms-root, ms-document {
    margin: 0;
}

ms-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

ms-document {
    display: block;
    max-width: 100vw;
}

[\!block] {
    display: block;
}