.Neo.NeoWidget.TagList {
&>h2{
line-height: 1.25rem;
margin:.75rem 1rem;
position: relative;
&::before{
content: '';
background-color: var(--Cbrand);
width: .25rem;
height: 100%;
left: -.75rem;
position: absolute;
display: block;
border-radius: 1rem;
}
}
&>.tags-container{
display: flex;
flex-wrap: wrap;
width: 100%;
gap:.5rem;
&>.tag{
border-radius: .5rem;
display: block;
padding:.5rem;
color:var(--Cbtn-content);
background:var(--Cbtn-regular-bg);
transition:background .2s ease-in-out;
&:hover{
background:var(--Cbtn-regular-bg-hover);
}
}
}
}