.level,.level-no-padding{
    box-shadow:0px 0px 2px 0px #4a4a4a;
    border-radius: 2px;
    background:#fff;
}
.level{
    padding:3px;
}

/* --- ELEMENT STYLES --*/
@font-face {
    font-family: "df";
    src: url("https://cdn.jsdelivr.net/npm/futura-font@1.0.0/FuturaBT-Medium.woff") format("woff");
    font-weight:normal;
    font-size:medium;
}
body{
    margin:0;
    color:#4a4a4a;
}
a{
    text-decoration: none;
}
*{
    font-family: "df";
    transition: all .1s ease-in-out;
}
body>header{
    position:sticky;
    height:2em;
    margin:0;
    width:100vw;
    left:0;top:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
body>footer{
    position: sticky;
    bottom:0;
    left:0;right:0;
}
header>*{
    margin:3px;
}

data>p>code{
    position: relative;
    display:block;
}

/* --- MODULE STYLE --- */

/*** INTRO CARD ***/
#intro-card>*{
    margin:5px;
}
#intro-card-inner-count>p{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5px;
}
#intro-card>#data_c_avatar{
    width:5em;
    height:5em;
    object-fit: cover;
    border-radius: 100%;
}
/*** TOC ***/
a.tocs{
    background:#eee;
}
a.tocs:focus{
    background:#69b4f26f;
}
a.tocs:hover{
    background:#ddd;
}

/* --- MAIN FRAME DISPLAY --- */
.container{
    margin:15px auto;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    max-width: 85vw;
}
#column-left{
    position: sticky;
    top:3em;
    min-width:15em;
    
}
#column-right{
    display:block;
    max-width:85vw;
}
.columns{
    margin:5px;
}
.index-post{
    margin-bottom:1em;
}

/* FLEX SHORT DEFINE */
.flex,.flex-column,.flex-row{
    display:flex;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

/* --- TAGS --- */
.gInfo-tag>.tags{
    border-radius:5px;
    box-shadow:0px 0px 1px black;
    background-color: #59a4e2;
    display: inline;
}
.gInfo-tag>.tags>.tags-name{
    margin: 2px;
    color:#eee;
}
.gInfo-tag>.tags>.tags-count{
    background-color:#eee;
    border-radius: 0px 5px 5px 0px;
    color:#4a4a4a;
    letter-spacing: 3px;
}
.inline-tag>.tags{
    color:#a9a9a9;
    margin-left:.5em;
}
.inline-tag>.tags::before{
    content:'#';
}
#main-intro-top{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:0 1em;
    width:90%;
}
#main-intro-top>data_category{
    color:#a9a9a9;
    margin-left:auto;
}

/* --- FOLLOW BUTTON ---*/
.a_rendered_button{
    text-align: center;
    width:85%;
    text-decoration: none;
    border-radius:15em;
    background:#59a4e2;
    color:#eee;
    height:1.5rem;
}