:root {
color-scheme: light dark;
--hue: var(--configHue, 250);
--Wpage-width: min(calc(100% - 2rem), 75rem);
--Wcon: var(--Wpage-width);
--Cbrand: light-dark(oklch(.7 .14 var(--hue)), oklch(.75 .14 var(--hue)));
--Cdisplay: light-dark(#000000bf, #ffffffbf);
--Cbg: light-dark(oklch(.95 .01 var(--hue)), oklch(.16 .014 var(--hue)));
--Ccard-bg: light-dark(white, oklch(.23 .015 var(--hue)));
--Ccard-bg-hover: light-dark(oklch(.98 .005 var(--hue)), oklch(.3 .03 var(--hue)));
--Cbtn-plain-bg-hover: light-dark(oklch(.95 .025 var(--hue)), oklch(.3 .035 var(--hue)));
--Cbtn-content: light-dark(oklch(.55 .12 var(--hue)), oklch(.75 .1 var(--hue)));
--Cbtn-regular-bg: light-dark(oklch(.95 .025 var(--hue)), oklch(.33 .035 var(--hue)));
--Cbtn-regular-bg-hover: light-dark(oklch(.9 .05 var(--hue)), oklch(.38 .04 var(--hue)));
--Ctext-25: light-dark(#0000004d,#ffffff4d);
--Ctext-50: light-dark(#0000008d,#ffffff8d);
--Ctext-75: light-dark(#000000bf,#ffffffbf);
--Ctext-100: light-darK(#000,#fff);
font-family: Roboto, sans-serif, system-ui;
}
@media(max-width:768px){:root{--Wpage-width: 100vw}}
body {
width: 100vw;
overflow-x: hidden;
background: var(--Cbg);
color: var(--Cdisplay);
margin: 0;
position: relative;
font-family: Roboto, sans-serif, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}
body::before {
content: '';
position: absolute;
background-image: url("/files/banner.webp");
background-repeat: no-repeat;
background-size: cover;
height: 46.25vh;
width: 100%;
background-position: center;
pointer-events: none;
background-color: var(--Cbg);
opacity: 0;
transform: scale(1.1);
top: 2rem;
transition-property: opacity,top,transform,height;
transition-duration: .25s;
transition-timing-function: ease-in-out;
}
body.loaded::before{
opacity: 1;
transform: scale(1);
top: 0;
} 
body>main {margin-top: calc(37.75vh - 4.5rem)}
body>br {display: none}
html::-webkit-scrollbar{display: none}
html { scrollbar-width: none }
hr { opacity: .5; border-bottom-width: 0px }
.Nls { list-style: none }
.alc,.jcc,.fl,.eaj{display: flex}.alc,.eaj{align-items: center}
.jcc,.eaj{justify-content: center}.nowrap{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.tac{text-align:center}.col{flex-direction:column}
.jcsa{justify-content:space-around}.jcsb{justify-content:space-between}
.intro,#intro{color:var(--secondary-color)}
.clist{padding:20px}
.clist hr{visibility:hidden}
.meta>*{margin:4px}.less{margin:12px 0}
.m0{margin:0}.p0{padding:0}.p8{padding:12px}
*{-webkit-tap-highlight-color:#0000}
.uWcon{ max-width: var(--Wpage-width); margin-left: auto; margin-right: auto }
.cPostCon,.cSortCon { list-style: none; padding:0 }
.cSortCon>a { display: inline-block }
a { text-decoration: none; color: var(--Cbrand) }

@media(prefers-color-scheme:dark){.hljs{background: #232629;color:#f3f3f3}}
h2.category-name,h2.archive-label{
margin-left: 2rem;
}
body.not-ready {opacity: 0}
main.withSide {
display: flex;
flex-direction: column-reverse;
gap: 1rem;
}
.withSide>:is(.mainCon,.sideCon) {
display: flex;
flex-direction: column;
gap: 1rem;
}
@media(min-width: 1024px) {
main.withSide {
flex-direction: row;
}
.withSide>.mainCon {
width: calc(100% - 18.5rem);
}
.withSide>.sideCon {
width: 17.5rem;
}
}
@media (max-width:1024px) {
.withSide>.sideCon{
opacity: 1;
top: 0;
transform: scale(1);
position: relative;
transition-property: opacity, transform, top, margin;
transition-duration: .149s;
transition-timing-function: ease-in-out;
}
body:is(.being-replaced,:not(.main-anim-finished)) .withSide>.sideCon {
opacity: 0;
top: 5rem;
transform: scale(1.1);
}
}
.NeoWidget,
.Neo.PostCard {
padding: 1rem;
border-radius: 1rem;
background: var(--Ccard-bg);
box-sizing: border-box;
}
.Neo.PostCard .cover{
opacity: 0;
}
.cPostCon {
margin: 0;
}
.uWcon, #NEO_REPLACE {
opacity: 0;
top: 10rem;
transform: scale(1.1);
position: relative;
transition-property: max-width, height, opacity, transform, top, margin;
transition-duration: .149s;
transition-timing-function: ease-in-out;
}
body.loaded .uWcon,
body.main-anim-finished :is(.uWcon:not(.no-anim),#NEO_REPLACE){
opacity: 1;
top: 0;
transform: scale(1);
}
body.being-replaced :is(.uWcon:not(.no-anim),#NEO_REPLACE) {
opacity: 0;
transform: scale(1.1);
top: 7rem;
}

.iconBlock {
display: inline-flex;
width: 2rem;
height: 2rem;
align-items: center;
justify-content: center;
box-sizing: border-box;
border-radius: .5rem;
background-color: var(--Cbtn-regular-bg);
color: var(--Cbtn-content);
&>svg{
width: 1.25rem;
height: 1.25rem;
}
}