:root {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    scrollbar-width: none;
}

.vp-nav {
    backdrop-filter: blur(20px);
}

.vp-home-banner {
    background-attachment: fixed;
}

.vp-nav-screen {
    height: fit-content;
}