:root {
    --vp-c-brand-1: #ff9baf;
    --vp-c-brand-2: #ffc0aa;
    --vp-c-brand-3: #ffcbc3;
    --vp-c-brand-soft: #ffaaad63;
}

[data-theme="dark"] {
    --vp-c-brand-1: #ffcbc3;
    --vp-c-brand-2: #ffc0aa;
    --vp-c-brand-3: #ff9baf;
    --vp-c-brand-soft: #ffaaad63;
}