.Neo.SearchComp {
    display: inline-flex;
    align-items: center;
}

.Neo.SearchComp .URL{
    display: none;
}

.Neo.SearchComp .openPanel {
    padding: 10px 14px;
    color: var(--Cdisplay);
    background: transparent;
    /* height: 48px; */
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    transition: color .25s ease-in-out, background .25s ease-in-out;
}

.Neo.SearchComp .openPanel:hover {
    background-color: #000;
    color: #fff;

}

.Neo.SearchComp_Panel {
    position: fixed;
    min-height: 0px;
    max-height: 0%;
    padding: 0px;
    min-width: 50%;
    max-width: 90%;
    top: 64px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 2px 80px 0px #222,inset 0px 0px 4px #8888;
    transition: min-height .25s, padding .25s, max-height .25s;
    display: block;
    overflow: hidden;
    z-index: 1199;
}

.Neo.SearchComp_Panel[open] {
    min-height: 240px;
    padding: revert;
    max-height: 80%;
    overflow: auto;
}

.Neo.SearchComp_Panel :is(.--C,.--S) {
    margin-left: auto;
    cursor: pointer;
    height: 24px;
    width: 24px;
    font-size: 20px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: background .25s, color .25s;
}

.Neo.SearchComp_Panel .--S {
    width: fit-content;
    padding: 4px;
    border-radius: 8px;
    margin-left: 8px;
}

.Neo.Neo.SearchComp_Panel :is(.--C,.--S):hover {
    background: var(--Cbrand);
    color: #fff;
}