// you can change config here

@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Latin_VF:VF:Latin&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_VF:VF:Chinese_Simplify,Latin&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans:100,200,300,400,450,500,600,650,700,900:Chinese_Simplify,Latin&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=HYXuanSong55S:400:HYXuanSong&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=HYXuanSong75S:400:HYXuanSong&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_L3:400:Uncommon&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_ArabicUI_VF:VF:ArabicUI&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Devanagari_VF:VF:Devanagari&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Gujarati_VF:VF:Gujarati&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Gurmukhi_VF:VF:Gurmukhi&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Khmer_VF:VF:Khmer&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Lao_VF:VF:Lao&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Myanmar_VF:VF:Myanmar&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=Misans_TC_VF:VF:Chinese_Traditional_TW&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Thai_VF:VF:Thai&display=swap");
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_Tibetan_VF:VF:Tibetan&display=swap");

$theme-color: (
    light: #2655ff,
    dark: #2f81e6
);

$vp-font: "MiSans VF";
$vp-font-heading: "MiSans";