// place your custom styles here
.vp-page .vp-blog-info-wrapper {
    margin-top: .5rem;
}

.vp-blog-mask {
    background-attachment: fixed !important;
}

.vp-skip-link {
    display: none;
}

.vp-social-medias {
    gap: 8px;
    flex-wrap: wrap;
    padding: 0 4px;
}

.vp-social-media {
    margin: 0;
}