// you can change colors here

$vp-c-text: (
    light: #12151a,
    dark: #fff
);

$vp-c-text-mute: (
    light: #12151a4d,
    dark: #ffffff4d
);

$vp-c-bg: (
    light: #fff,
    dark: #161718
);

$vp-c-bg-elv: (
    light: #ffffffdb,
    dark: #0a0a0adb
)