.KPageNavigator { list-style: none; padding: 0;
    width: fit-content; margin: auto }
.KPageNavigator>li { border: 1px solid #8888;
    border-left-width: 0; display: inline-block }
.KPageNavigator>:first-child{ border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left-width: 1px }
.KPageNavigator>:last-child{ border-top-right-radius: 8px;
    border-bottom-right-radius: 8px }
.KPageNavigator>li>a { display: block;
    padding: 8px 12px }
.KPageNavigator>li.now {
    background-color: var(--Cbrand) }
.KPageNavigator>li.now>a { color: #fff }