h1 { font-size: 1.875rem; line-height: 2.25rem }
h2 { font-size:1.5rem; margin: 2em 0 1em }
h3 { font-size:1.25rem; margin: 1.6em 0 .6em }
h4 { font-size:1rem; margin: 1.5em 0 .5em }
h5 { font-size:.875rem }
h6 { font-size:.5rem }
h2,h3,h4 { line-height: 1.5; }
h5,h6 { line-height:  1.3; }
img { max-width: 100% }
code {
    padding: .25rem;
    color: var(--Cdisplay);
    background-color: var(--Cbg);
    border-radius: .25rem;
}
pre code, pre code.hljs{
    display: block;
    padding: .5rem;
    font-family: 'Hack',monospace,'monospace';
    background-color: var(--Cbg);
    color: var(--Cdisplay);
    border-radius: .5rem;
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
    transition-property: padding, background-color, color;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: auto;
}
pre {
    position: relative;
    padding-left: 2rem;
    border-radius: .5rem;
    background-color: var(--Cbg);
}
pre>.line-index {
    color: var(--Ctext-25);
    background-color: var(--Cbg);
    user-select: none;
    position: absolute;
    left: .5rem;
    top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5rem;
    line-height: 1.5;
}
pre>.line-index>i{
    height: 1.5rem;
    display: block;
    font-style: normal;
    font-size: .875rem;
    line-height: 1.5rem;
}
blockquote{
margin: .25rem;
border-radius: .5rem;
padding: .25rem .75rem;
background-color: var(--Cbg);
width: fit-content;
}
.post-meta {
color: var(--Ctext-50);
font-weight: 900;
overflow: hidden;
width: 100%;
text-wrap: nowrap;
position: relative;
}
.post-meta>.meta-content{
margin: 0;
display: flex;
overflow: auto;
scrollbar-color: #0000 #0000;
flex-wrap: wrap;
gap: .5rem;
&:not(:first-child){margin-top: .5rem}
}
.post-meta>.meta-content>* {
    display: flex;
    align-items: center;
    &>:not(.iconBlock){
        padding: .375rem;
    }
}
.post-meta>.meta-content>:is(.tag,.category)>a {
    cursor: pointer;
    display: block;
    padding: .375rem;
    margin: 0 .125rem;
    border-radius: .375rem;
    color: var(--Ctext-50);
    background-color: transparent;
    transition: background-color .25s ease-in-out,
                color .25s ease-in-out;
}

.post-meta>.meta-content>:is(.tag,.category)>a:hover {
    color: var(--Cbrand);
    background-color: var(--Cbtn-plain-bg-hover);
}

.post-meta>.meta-content>:is(.tag,.category)>.hr {
    display: block;
    width: 0;
    padding: 0 .15rem;
    position: relative;
}

.post-meta>.meta-content>:is(.tag,.category)>.hr::before {
    content: '/';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

#footnote-label.sr-only {
    color: #0000;
    font-size: 0;
    height: .5rem;
    background-color: var(--Cbg);
    border-radius: 1rem;
    width: 75%;
    left: 12.5%;
    position: relative;
    margin: 1.25rem 0;
}

.Neo.NextPage {
display: flex;
gap: 1rem;
&>a{
border-radius: 1rem;
background-color: var(--Ccard-bg);
padding: 1rem;
display: flex;
align-items: center;
width: calc(100% - .5rem);
transition: color .25s ease-in-out,background-color .25s ease-in-out;
color: var(--Ctext-75);
&:hover{
color: var(--Cbtn-content);
background-color: var(--Ccard-bg-hover)}
&>.title{
width: 100%;
text-align: center}
&>.arrow,&>.arrow>svg{
width: 2rem;
height: 2rem;
color: var(--Cbtn-content)}
&.left>.arrow{
transform: rotate(180deg)}}}
@media(max-width:768px){
.Neo.NextPage{
flex-direction: column;
&>a{
width: unset;
}
}}