.Neo.LicenseNotice {
    background: var(--Cbg);
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 1rem 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 10rem;
    overflow: hidden;
}

.Neo.LicenseNotice>.title {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: auto;
    z-index: 1;
}

.Neo.LicenseNotice>.announce-box {
    display: flex;
    gap: 1.5rem;
    z-index: 1;
}

.Neo.LicenseNotice>.announce-box>*>.label {
    font-size: .875rem;
    color: var(--Ctext-25);
    display: block;
}

.Neo.LicenseNotice>.announce-box>*>.val {
    font-size: 1.25rem;
    display: block;
    line-height: 1.625rem;
}


.Neo.LicenseNotice>.background {
    position: absolute;
    top: -25%;
    bottom: -25%;
    right: 0;
}

@media(max-width:768px){
    .Neo.LicenseNotice>.background {
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
    }
    .Neo.LicenseNotice>.announce-box {
        flex-direction: column;
    }
}

.Neo.LicenseNotice>.background>svg {
    height: 100%;
    width: 100%;
    color: var(--Ccard-bg);
}