:root{
    --commonBackground: #ddd;
    --widgetBackground: #fff;
    --accentColor: #3273d2;
    --textColor: #000;
    --textColor-onWidget: #000;
    --textColor-onAccent: #fff;
}
@media (prefers-color-scheme:dark){
    :root{
        --commonBackground: #222;
        --widgetBackground: #333;
        --accentColor: #555;
        --textColor: #fff;
        --textColor-onWidget: #fff;
        --textColor-onAccent: #fff;
    }
}
body{
    background: var(--commonBackground);
    margin: 0;
    --headerHeight: 5em;
    --footerHeight: 5em;
}
body>header{
    min-height: var(--headerHeight);
    display: flex;
    align-items: center;
    background-color: var(--accentColor);
    box-shadow: 0px 2px 10px #222;
    color: #fff;
    padding: 0 1.25em;
}
body>main{
    margin: 1em;
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}
body>footer{
    min-height: var(--footerHeight);
}
textarea{
    border: none;
    border-bottom: 1px solid var(--accentColor);
    background: var(--widgetBackground);
    color: var(--textColor-onWidget);
}
*[data-is_button]{
    display: flex;
    border-radius: .25rem;
    background-color: var(--accentColor);
    box-shadow: 0px 2px 10px #222;
    color: var(--textColor-onAccent);
    padding: .5em;
    width: fit-content;
    text-decoration: none;
}
[data-style~=noborder]{
    border:none;
}
[data-style~=notextdeco]{
    text-decoration: none;
}
[data-style~=noshadow]{
    box-shadow: none;
}
[data-style~=bigmargin]{
    margin: 1em;
}
[data-style~=flex]{
    display: flex;
}
[data-style~="margin:leftA"]{
    margin-left: auto;
}
[data-style~="margin:rightA"]{
    margin-right: auto;
}