.Neo.PageNavigator {
color-scheme: light dark;
margin: 0 auto;
width: fit-content;
display: flex;
align-items: center;
gap: 1rem;
&>a{
display: flex;
height: 3rem;
width: 3rem;
align-items: center;
justify-content: center;
border-radius: .5rem;
background: var(--Ccard-bg);
color: var(--Cbrand);
cursor: pointer;
font-weight:900;
&.prev{transform:rotate(180deg)}
&:is(.prev,.next)>svg{height:2rem}
&.now{
background-color: var(--Cbrand);
color: var(--Cbg);
}
&:not([href]):not(.now){
color:var(--Ctext-25)}}}