#container {
    border: 1px solid black;
    width: calc(var(--x) * var(--w));
    height: calc(var(--y) * var(--w));
    position: relative;
}

fs-snakepart,
fs-target,
fs-apple {
    width: var(--w);
    height: var(--w);
    display: block;
    position: absolute;
    pointer-events: none;
}

fs-snakepart {
    background-color: hsl(calc(10*var(--index)), 100%, 50%);
    border-radius: var(--w);
    box-shadow: inset 0px 0px 4px 0px black;
    transition: top .5s, left .5s;
    z-index: calc(var(--all) - var(--index));
}

fs-target {
    box-shadow: inset 0px 0px 4px 0px black;
}

fs-apple {
    border-radius: var(--w);
    background-color: red;
}

button[data-is_button]{
    border: none;
}