.Neo.NavigationBar {
    --Height: 64px;
    color-scheme: light dark;
    min-height: var(--Height);
    position: sticky;
    top: 0px;
    background-color: #0000;
    border-bottom: 2px solid var(--Cbrand);
    backdrop-filter: blur(10px);
    transition-property: top, margin-left, margin-right, border-radius, box-shadow, background-color, border-bottom-color;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

.Neo.NavigationBar.float {
    top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #0004;
    background-color: light-dark(#fffd, #222d);
    border-bottom-color: transparent;
}

.Neo.NavigationBar.--transparent {
    border-bottom-color: transparent;
}

.Neo.NavigationBar>.kLogo {
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
    padding: 0 8px;
    background: var(--Cbrand);
    height: var(--Height);
    transition: margin .25s ease-in-out, height .25s ease-in-out, padding .25s ease-in-out, border-radius .25s ease-in-out;
}

.Neo.NavigationBar.float>.kLogo {
    height: calc(var(--Height) - 8px);
    margin: 4px;
    padding: 0 6px;
    border-radius: 6px;
}

.Neo.NavigationBar.--transparent>.kLogo {
    background: transparent;
    color: var(--fColor);
}

.Neo.NavigationBar>.kCon {
    width: fit-content;
    overflow: hidden;
    transition: height .2s ease-in-out;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.Neo.NavigationBar>.kCon>a {
    padding: 12px 8px;
    color: var(--Cdisplay);
    /* height: var(--Height); */
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.Neo.NavigationBar>.kCon>a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    top: calc(100% - 6px);
    left: 50%;
    right: 50%;
    background: var(--Cdisplay);
    transition: left .25s ease-in-out, right .25s ease-in-out;
}

.Neo.NavigationBar>.kCon>a:hover::after {
    left: 6px;
    right: 6px;
}

.Neo.NavigationBar>.toggle {
    padding: 0px;
    height: var(--Height);
    width: var(--Height);
    margin-left: auto;
    display: none;
    border: none;
    color: var(--Cdisplay);
}

.Neo.NavigationBar.short>.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Neo.NavigationBar.enough>.toggle {
    display: none
}

.Neo.NavigationBar.short>.kCon {
    margin-left: 0;
    height: var(--expanded-height);
    display: block;
}

.Neo.NavigationBar.enough>.kCon {
    margin-left: auto;
    height: var(--Height);
    margin-right: 16px;
}

.Neo.NavigationBar.collapsed>.kCon {
    height: 0
}

.Neo.NavigationBar.short>.kCon>a {
    display: block;
    height: 48px;
    text-align: center;
}